{% extends "pierre_CMS_App/main.html" %}

{% block content %}

<!-- Main Content -->
<div class="main">
    <div class="page-header">
        <h1 class="page-title">Customers</h1>
        <a class="btn btn-primary" href="{% url 'addCustomer' %}" style="text-decoration: none;">Add Customer</a>
    </div>
    
    <!-- Customer Table -->
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Customer List</h2>
            <div class="filters">
                <div class="search-box">
                    <form method="get">
                        {{myFilter.form}}
                        <button class="btn btn-primry btn-outline-info" type="submit" style="background-color: rgb(175, 172, 224);">Search..</button>
                    </form>
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Membership</th>
                    <th>Created Date</th>
                    <!-- <th>View</th> -->
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for cust in customers %}
                    <tr>
                        <td>{{cust.first_name}}</td>
                        <td>{{cust.last_name}}</td>
                        <td>{{cust.email}}</td>
                        <td>{{cust.phone}}</td>
                        <td><span class="status">{{cust.membership_status}}</span></td>
                        <td>{{cust.date_created}}</td>
                        <!-- <td>
                            <button class="btn-icon btn-view">👁️</button>
                        </td> -->
                        <td>
                            <a class="btn-icon btn-edit" href="{% url 'updateCustomer' cust.id %}" style="text-decoration: none;">✏️</a>
                        </td>
                        <td>
                            <a class="btn-icon btn-delete" href="{% url 'deleteCustomerrr' cust.id %}" style="text-decoration: none;">🗑️</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>



{% endblock %}