{% load static %}

<nav class="navbar">
    <div class="navbar-container">
        <!-- Logo section -->
        <a href="#" class="logo">
            <div class="logo-icon">PC</div>
            <div class="logo-text">PierreCustomer</div>
        </a>
      
        <!-- Nav items -->
        <div class="nav-links">
            <a href="{% url 'dashboard' %}" class="nav-item">
            <span class="icon">📊</span>Dashboard
            </a>
            <a href="{% url 'customersPage' %}" class="nav-item">
            <span class="icon">👥</span>Customers
            </a>
            <a href="{% url 'ordersPage' %}" class="nav-item">
            <span class="icon">📦</span>Orders
            </a>
            <a href="{% url 'productsPage' %}" class="nav-item">
                <span class="icon">📦📦</span>Products
            </a>
            <a href="{% url 'settingsPage' %}" class="nav-item">
            <span class="icon">⚙️</span>Account
            </a>
        </div>
    </div>
</nav>