{% extends "pierre_CMS_App/main.html" %}

{% block content %}

<!-- Main Content -->
<div class="main">
    <div class="page-header">
        <h1 class="page-title">Products</h1>
        <a class="btn btn-primary" href="{% url 'addProduct' %}" style="text-decoration: none;">Add Product</a>
    </div>
    <div class="card-header">
        <h2 class="card-title">Product List</h2>
        <div class="filters">
            <div class="search-box">
                <form method="get">
                    {{myFilter.form}}
                    <button class="btn btn-primry btn-outline-info" type="submit" style="background-color: rgb(175, 172, 224);">Search..</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Customer Table -->
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Model</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in products %}
                <tr>
                    <td>{{prod.name}}</td>
                    <td>{{prod.price}}</td>
                    <td>{{prod.currency}}</td>
                    <td>{{prod.product_model}}</td>
                    <td>
                        <a class="btn-icon btn-edit" href="{% url 'updateProduct' prod.id %}" style="text-decoration: none;">✏️</a>
                    </td>
                    <td>
                        <a class="btn-icon btn-delete" href="{% url 'deleteProduct' prod.id %}" style="text-decoration: none;">🗑️</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}