{% extends "pierre_CMS_App/main.html" %}

{% block content %}

<style>
    h5 {
        color: rgba(90, 17, 217, 0.893);
    }
</style>
    
<!-- Main Content -->
<div class="main">
    <div class="page-header">
        {% for setting in settings %}
            <h1 class="page-title">Welcome, {{setting.company_name}}.</h1>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'updateSettings' %}" style="text-decoration: none;">Edit</a>
    </div>
    
    <!-- Settings Card -->
    <div class="card">
        <div class="tab-content">
            <!-- Company Information Tab -->
            {% for setting in settings %}
                <div class="tab-pane active" id="company">
                    <div>
                        <!-- <div>
                            <div class="logo-preview">
                                <img src="{{setting.company_logo}}" alt="Company Logo">
                            </div>
                        </div> -->
                        <br>
                        <div class="form-grid">
                            <div>
                                <h3 class="section-title">Company Name:</h3>
                                <h5>{{setting.company_name}}</h5>
                            </div>
                            <div>
                                <h3 class="section-title">Company Email:</h3>
                                <h5>{{setting.company_email}}</h5>
                            </div>
                            
                            <div>
                                <h3 class="section-title">Company Phone:</h3>
                                <h5>{{setting.company_phone}}</h5>
                            </div>
                            <div>
                                <h3 class="section-title">Company Address:</h3>
                                <h5>{{setting.company_address}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}